// accordion options
  .accordion-options{
      clear:both;

      .accordion-option{
          padding:@gutter_half;
      }
  }

//accordion timeline

  .accordion{
    margin:0;
    padding:0 @gutter_half;
    list-style: none;
  }


  .accordion-item{
    float:left;
    display:none;
    margin:0 0 @gutter_half;
    padding:0;
    width:100%;
    position:relative;
    border-bottom:solid 1px @grayMidLight;

    .date{
      display:block;
      left:0;
      font-size:@gutter_small;
      position:absolute;
      background:@dateColor;
      .col-3;

      .inner{
        padding:@gutter_half @gutter;
        .align-center;
      }

    }

    .date-end{
      top:0;
    }

    .date-start{
      bottom:0;
    }

    .accordion-title,
    .accordion-content{
      display:block;
      float:right !important;
      .col-9;
    }

    .accordion-content{
      clear:both;
      display:none;
      padding:@gutter;
    }

  }

.accordion-title{
  cursor:pointer;
  padding:@gutter_half @gutter;
  font-size:@gutter;
  margin:0;

  .position,
  .employer,
  .description{
    display:block;
  }

  .position{
    margin:0;
    padding:0;
  }

  .employer{
    font-size:@gutter_small;
    font-weight:normal;
    margin:0;
    padding:0;
    color:@grayMidDark;
  }
}


.description{
  line-height:@gutter_large;
}

.accordion-items-career{

  .accordion-item-career{
    display:block;
  }

}

.accordion-items-fun{

    .accordion-item-fun{
        display:block;

        .accordion-title{
            background:#ccc;
        }
    }

}

.accordion-items-madjester{

    .accordion-item-mj{
        display:block;

        .employer{
          color:@grayMidLight;
        }

    }

}

.accordion-item-mj .accordion-title,
.navigation-accordion .nav-selected .accordion-options-madjester{

  background:#000;
  color:#fff;

}

.accordion-item-show{

  .accordion-content{
    display:block;
  }

}

@media only screen and(min-width:@tablet_small){

  .accordion-options{
      clear:both;

      .accordion-option{
          display:inline-block;
          padding:@gutter_half;
      }
  }

  .accordion-item{

    .position{
        font-size:@gutter_x2;
    }


    .employer{
      font-size:@gutter;
    }
    .date{
      font-size:@gutter;
    }
  }

}

@media only screen and(min-width:@tablet){

  .accordion{
    padding:0;
  }

}
@media only screen and(min-width:@desktop){



    .accordion-item{
        .date{
            .col-2;
          }

        .accordion-title,
        .accordion-content{
            .col-10;
          }
      }

  }

@media only screen and(min-width:@desktop_large){



}
