.accordion-options{
    clear:both;

    .accordion-option{
        padding:@gutter_half;
    }
}

.accordion-item{
  float:left;
  display:none;
  background:#fff;
  margin-bottom:1px;
  padding:0;
  width:100%;

  .accordion-content,
  .date{
    display:none;
  }

  .employer,
  .description{
    display:block;
  }

}

.accordion-content,
.accordion-title{
  clear:both;
  width:100%;
}

.accordion-title{
  cursor:pointer;
  padding:@gutter_half 0;
  font-size:@gutter;
  margin:0;
  position:relative;
}

.position,
.employer,
.description{
  display:block;
}

.position{
  margin:0;
  padding:0;
}

.employer{
  font-size:@gutter_small;
  margin:0;
  padding:0;
}

.description{
  line-height:@gutter_large;
}

.accordion-items-career{

  .accordion-item-career{
    display:block;
  }

}

.accordion-items-fun{

    .accordion-item-fun{
        display:block;

        .accordion-title{
            background:#ccc;
            //color:#fff;
        }
    }

}

.accordion-items-madjester{

    .accordion-item-mj{
        display:block;

        .accordion-title{
            background:#000;
            color:#fff;
        }
    }

}

.accordion-item-show{

  .accordion-content{
    display:block;
  }

}



@media only screen and(min-width:@tablet_small){

    .accordion-options{
        clear:both;

        .accordion-option{
            display:inline-block;
            padding:@gutter_half;
        }
    }

    .position,
    .employer,
    .description{
        display:block;
        float:right;
        width:80%;
    }

    .accordion-item{

        .date{
            display:block;
            width:20%;
            font-size:@gutter_small;
            text-align:left;
            position:absolute;
            padding-top:@gutter;
            top:0;
            }

        .accordion-title{
            font-size:@gutter_large;
            clear:both;
            float:left;
        }
    }

}