@import url(https://fonts.googleapis.com/css?family=Oswald);
body {
  background: #eee;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}
.accordion-title {
  font-family: "Oswald", sans-serif;
}
