@import url(https://fonts.googleapis.com/css?family=Oswald);

body{
  background:@grayLight;
  margin:0;
  font-family:Arial, Helvetica, sans-serif;
}

.btn,
h1,
h2,
h3,
.nav-link,
.header,
.navigation,
.accordion-title,
.date,
.footer-text{
  font-family:"Oswald",sans-serif;
}

.page-title{
  font-size:@gutter*2;
  margin:@gutter_qtr;
}

.header-wrapper{
  background:@white;
}

.nav-wrapper{
  background:@white;
  border-bottom:solid 1px @grayMid;
}

.accordion-item{
 background:@white;
}

@media only screen and(min-width:@tablet){

    .page-title{
      font-size:@gutter*3;
      margin:@gutter_half 0;
      color:@grayDark;
    }

}