//sizes
  @tablet_small: 40em;
  @tablet:      50em;
  @desktop:     75em;
  @desktop_large: 100em;

  @site_width: 75em;

//gutters
  @gutter: 1em;
  @gutter_half: @gutter/2;
  @gutter_small: @gutter*.75;
  @gutter_large: @gutter*1.5;
  @gutter_x2: @gutter*2;

//colors
  @white: #fff;
  @grayLight: #eee;
  //@grayLightest: #fbfbfb;
  @grayLightest: #fafafa;
  @grayMidLight:   #ddd;
  @grayMid:   #ccc;
  @grayMidDark:   #666;
  @grayDark:   #333;
  @black: #000;

//percentages
  @_1_of_12: 8.3333%;
  @_2_of_12: 16.6666%;
  @_3_of_12: 25%;
  @_4_of_12: 33.3333%;
  @_5_of_12: 41.6666%;
  @_6_of_12: 50%;
  @_7_of_12: 58.3333%;
  @_8_of_12: 66.6666%;
  @_9_of_12: 75%;
  @_10_of_12: 83.3333%;
  @_11_of_12: 91.6666%;
  @_12_of_12: 100%;

//shadows
  @shadowDefault: 1px 1px 3px 0px;
  @shadowModal: 2px 3px 5px 0px;
  @shadowInset: inset 0 1px 4px rgba(0, 0, 0, 0.6);
  @text-disabled: 1px 1px 1px @white;
  @text-shadow-default: -1px -1px 0 #000;

//gradients