@import url(https://fonts.googleapis.com/css?family=Oswald);
body {
  font-size: 1em;
}
.hide {
  display: none !important;
}
.site-wrapper {
  margin: 0 auto;
}
@media only screen and (min-width: 33em) {
  
}
@media only screen and (min-width: 40em) {
  .site-width {
    width: 33em;
  }
}
@media only screen and (min-width: 55em) {
  .site-width {
    width: 40em;
  }
}
@media only screen and (min-width: 65em) {
  .site-width {
    width: 55em;
  }
}
.accordion-options {
  clear: both;
}
.accordion-options .accordion-option {
  padding: 0.5em;
}
.accordion-item {
  float: left;
  display: none;
  background: #fff;
  margin-bottom: 1px;
  padding: 0;
  width: 100%;
}
.accordion-item .accordion-content,
.accordion-item .date {
  display: none;
}
.accordion-item .employer,
.accordion-item .description {
  display: block;
}
.accordion-content,
.accordion-title {
  clear: both;
  width: 100%;
}
.accordion-title {
  cursor: pointer;
  padding: 0.5em 0;
  font-size: 1em;
  margin: 0;
  position: relative;
}
.position,
.employer,
.description {
  display: block;
}
.position {
  margin: 0;
  padding: 0;
}
.employer {
  font-size: 0.75em;
  margin: 0;
  padding: 0;
}
.description {
  line-height: 1.5em;
}
.accordion-items-career .accordion-item-career {
  display: block;
}
.accordion-items-fun .accordion-item-fun {
  display: block;
}
.accordion-items-fun .accordion-item-fun .accordion-title {
  background: #ccc;
}
.accordion-items-madjester .accordion-item-mj {
  display: block;
}
.accordion-items-madjester .accordion-item-mj .accordion-title {
  background: #000;
  color: #fff;
}
.accordion-item-show .accordion-content {
  display: block;
}
@media only screen and (min-width: 33em) {
  .accordion-options {
    clear: both;
  }
  .accordion-options .accordion-option {
    display: inline-block;
    padding: 0.5em;
  }
  .position,
  .employer,
  .description {
    display: block;
    float: right;
    width: 80%;
  }
  .accordion-item .date {
    display: block;
    width: 20%;
    font-size: 0.75em;
    text-align: left;
    position: absolute;
    padding-top: 1em;
    top: 0;
  }
  .accordion-item .accordion-title {
    font-size: 1.5em;
    clear: both;
    float: left;
  }
}
body {
  background: #eee;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}
.accordion-title {
  font-family: "Oswald", sans-serif;
}
