@import url(https://fonts.googleapis.com/css?family=Oswald);
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
.grad-1 {
  background: #ffffff;
  /* Old browsers */

  background: -moz-linear-gradient(top, #ffffff 0%, #eeeeee 100%);
  /* FF3.6+ */

  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ffffff), color-stop(100%, #eeeeee));
  /* Chrome,Safari4+ */

  background: -webkit-linear-gradient(top, #ffffff 0%, #eeeeee 100%);
  /* Chrome10+,Safari5.1+ */

  background: -o-linear-gradient(top, #ffffff 0%, #eeeeee 100%);
  /* Opera 11.10+ */

  background: -ms-linear-gradient(top, #ffffff 0%, #eeeeee 100%);
  /* IE10+ */

  background: linear-gradient(to bottom, #ffffff 0%, #eeeeee 100%);
  /* W3C */

  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#eeeeee', GradientType=0);
  /* IE6-9 */

}
.box-shadow-disabled {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.col-1,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-10,
.col-11,
.col-12 {
  float: left;
}
.col-1 {
  width: 8.33333333%;
}
.col-2 {
  width: 16.66666666%;
}
.col-3 {
  width: 25%;
}
.col-4 {
  width: 33.3333333%;
}
.col-5 {
  width: 41.66666666%;
}
.col-6 {
  width: 50%;
}
.col-7 {
  width: 58.3333333%;
}
.col-8 {
  width: 66.66666666%;
}
.col-9 {
  width: 75%;
}
.col-10 {
  width: 83.3333333%;
}
.col-11 {
  width: 91.66666666%;
}
.col-12 {
  width: 100%;
}
.row-anchor,
.clear-anchor {
  float: left;
  clear: both;
  width: 100%;
}
@media only screen and (min-width: 40em) {
  .col-1-ts,
  .col-2-ts,
  .col-3-ts,
  .col-4-ts,
  .col-5-ts,
  .col-6-ts,
  .col-7-ts,
  .col-8-ts,
  .col-9-ts,
  .col-10-ts,
  .col-11-ts,
  .col-12-ts {
    float: left;
  }
  .col-1-ts {
    width: 8.33333333%;
  }
  .col-2-ts {
    width: 16.66666666%;
  }
  .col-3-ts {
    width: 25%;
  }
  .col-4-ts {
    width: 33.3333333%;
  }
  .col-5-ts {
    width: 41.66666666%;
  }
  .col-6-ts {
    width: 50%;
  }
  .col-7-ts {
    width: 58.3333333%;
  }
  .col-8-ts {
    width: 66.66666666%;
  }
  .col-9-ts {
    width: 75%;
  }
  .col-10-ts {
    width: 83.3333333%;
  }
  .col-11-ts {
    width: 91.66666666%;
  }
  .col-12-ts {
    width: 100%;
  }
}
@media only screen and (min-width: 50em) {
  .col-1-t,
  .col-2-t .col-3-t .col-4-t .col-5-t .col-6-t .col-7-t .col-8-t .col-9-t .col-10-t .col-11-t .col-12-t {
    float: left;
  }
  .col-1-t {
    width: 8.33333333%;
  }
  .col-2-t {
    width: 16.66666666%;
  }
  .col-3-t {
    width: 25%;
  }
  .col-4-t {
    width: 33.3333333%;
  }
  .col-5-t {
    width: 41.66666666%;
  }
  .col-6-t {
    width: 50%;
  }
  .col-7-t {
    width: 58.3333333%;
  }
  .col-8-t {
    width: 66.66666666%;
  }
  .col-9-t {
    width: 75%;
  }
  .col-10-t {
    width: 83.3333333%;
  }
  .col-11-t {
    width: 91.66666666%;
  }
  .wrapper-content {
    margin: 0 auto;
  }
}
@media only screen and (min-width: 75em) {
  .col-1-d,
  .col-2-d,
  .col-3-d,
  .col-4-d,
  .col-5-d,
  .col-6-d,
  .col-7-d,
  .col-8-d,
  .col-9-d,
  .col-10-d,
  .col-11-d,
  .col-12-d {
    float: left;
  }
  .col-1-d {
    width: 8.33333333%;
  }
  .col-2-d {
    width: 16.66666666%;
  }
  .col-3-d {
    width: 25%;
  }
  .col-4-d {
    width: 33.3333333%;
  }
  .col-5-d {
    width: 41.66666666%;
  }
  .col-6-d {
    width: 50%;
  }
  .col-7-d {
    width: 58.3333333%;
  }
  .col-8-d {
    width: 66.66666666%;
  }
  .col-9-d {
    width: 75%;
  }
  .col-10-d {
    width: 83.3333333%;
  }
  .col-11-d {
    width: 91.66666666%;
  }
  .site-width {
    width: 75em;
  }
}
body {
  font-size: 1em;
}
.hide {
  display: none !important;
}
.show {
  display: block !important;
}
.FR {
  float: right !important;
}
.FL {
  float: left !important;
}
.align-right {
  text-align: right;
}
.align-left {
  text-align: left;
}
.align-center {
  text-align: center;
}
.row {
  clear: both;
}
div {
  box-sizing: border-box;
}
.inner {
  padding: 1em;
}
.inner-half {
  padding: 0.5em;
}
.inner-X-half-Y {
  padding: 0.5em 1em;
}
.inner-X-half-X {
  padding: 0.5em;
}
.inner-half-Y {
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}
.inner-half-X {
  padding-left: 0.5em;
  padding-right: 0.5em;
}
.inner-nobase {
  padding: 1em;
  padding-bottom: 0;
}
.inner-base {
  padding-bottom: 1em;
}
.inner-X {
  padding-left: 1em;
  padding-right: 1em;
}
.inner-Y {
  padding-top: 1em;
  padding-bottom: 1em;
}
.site-width {
  margin: 0 auto;
}
.site-wrapper {
  margin: 0 auto;
}
.footer-wrapper {
  clear: both;
}
.float-anchor {
  clear: both;
  float: left;
  width: 100%;
}
@media only screen and (min-width: 40em) {
  .hidden-ts {
    display: none;
  }
}
@media only screen and (min-width: 50em) {
  .site-width {
    width: 40em;
  }
}
@media only screen and (min-width: 75em) {
  .site-width {
    width: 50em;
  }
}
@media only screen and (min-width: 100em) {
  .site-width {
    width: 75em;
  }
}
.accordion-item-common {
  display: block;
  max-height: 0;
  overflow: hidden;
  border-bottom: 0;
}
.accordion-options {
  clear: both;
}
.accordion-options .accordion-option {
  padding: 0.5em;
}
.nav-title,
.date {
  float: left;
  width: 25%;
  text-shadow: 1px 1px 1px #ffffff;
}
.accordion {
  margin: 0;
  padding: 0 0.5em;
  list-style: none;
}
.accordion-item {
  float: left;
  border-bottom: solid 1px #cccccc;
  padding: 0;
  width: 100%;
  position: relative;
  transition: max-height 1s;
  -webkit-transition: max-height 1s;
  -moz-transition: max-height 1s;
  -o-transition: max-height 1s;
  max-height: 0px;
  overflow-y: hidden;
}
.accordion-item .date {
  display: block;
  left: 0;
  font-size: 0.75em;
  position: absolute;
  background: #fafafa;
  color: #666666;
}
.accordion-item .date .inner {
  padding: 0.5em 1em;
  text-align: center;
}
.accordion-item .date-end {
  top: 0;
}
.accordion-item .date-start {
  bottom: 0;
}
.accordion-item .accordion-title {
  display: block;
}
.accordion-item .accordion-title:hover {
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=@opacity_percent)";
  filter: alpha(opacity=70);
  -moz-opacity: 0.7;
  -khtml-opacity: 0.7;
  opacity: 0.7;
}
.accordion-item .accordion-title,
.accordion-item .accordion-content {
  float: right !important;
  float: left;
  width: 75%;
}
.accordion-item .accordion-content {
  clear: both;
  padding-left: 1em;
  padding-right: 1em;
  transition: max-height 1s;
  -webkit-transition: max-height 1s;
  -moz-transition: max-height 1s;
  -o-transition: max-height 1s;
  max-height: 0px;
  overflow-y: hidden;
}
.nav-title {
  background: #fafafa;
}
.nav-title .nav-link {
  color: #666666;
  cursor: default;
}
.accordion-title {
  cursor: pointer;
  padding: 0.5em 1em;
  font-size: 1em;
  margin: 0;
}
.accordion-title .title-main,
.accordion-title .title-sub,
.accordion-title .description {
  display: block;
}
.accordion-title .title-main {
  margin: 0;
  padding: 0 1.5em 0 0;
  background-repeat: no-repeat;
  background-image: url('../images/icons/arrows.gif');
  background-position: 98% 0.5em;
}
.accordion-title .title-sub {
  font-size: 0.75em;
  font-weight: normal;
  margin: 0;
  padding: 0;
  color: #666666;
}
.description {
  line-height: 1.5em;
}
.accordion-items-work .accordion-item-work {
  display: block;
}
.accordion-item-achievement {
  display: block;
  max-height: 0;
  overflow: hidden;
  border-bottom: 0;
}
.accordion-item-achievement .title-sub {
  color: #666666;
}
.accordion-items-achievements .accordion-item-achievement {
  transition: max-height 1s;
  -webkit-transition: max-height 1s;
  -moz-transition: max-height 1s;
  -o-transition: max-height 1s;
  max-height: 1000px;
  margin-top: 0;
  margin: 0 0 0.5em;
  border-bottom: solid 1px #cccccc;
}
.accordion-item-achievement .accordion-title,
.navigation-accordion .nav-selected .accordion-options-achievements {
  background: #ffffff;
  color: #333333;
}
.accordion-item-work {
  display: block;
  max-height: 0;
  overflow: hidden;
  border-bottom: 0;
}
.accordion-item-work .title-sub {
  color: #333333;
}
.accordion-items-work .accordion-item-work {
  transition: max-height 1s;
  -webkit-transition: max-height 1s;
  -moz-transition: max-height 1s;
  -o-transition: max-height 1s;
  max-height: 1000px;
  margin-top: 0;
  margin: 0 0 0.5em;
  border-bottom: solid 1px #cccccc;
}
.accordion-item-work .accordion-title,
.navigation-accordion .nav-selected .accordion-options-work {
  background: #eeeeee;
  color: #666666;
}
.accordion-item-fun {
  display: block;
  max-height: 0;
  overflow: hidden;
  border-bottom: 0;
}
.accordion-item-fun .title-sub {
  color: #ffffff;
}
.accordion-items-fun .accordion-item-fun {
  transition: max-height 1s;
  -webkit-transition: max-height 1s;
  -moz-transition: max-height 1s;
  -o-transition: max-height 1s;
  max-height: 1000px;
  margin-top: 0;
  margin: 0 0 0.5em;
  border-bottom: solid 1px #cccccc;
}
.accordion-item-fun .accordion-title,
.navigation-accordion .nav-selected .accordion-options-fun {
  background: #cccccc;
  color: #ffffff;
}
.accordion-item-code {
  display: block;
  max-height: 0;
  overflow: hidden;
  border-bottom: 0;
}
.accordion-item-code .title-sub {
  color: #666666;
}
.accordion-items-code .accordion-item-code {
  transition: max-height 1s;
  -webkit-transition: max-height 1s;
  -moz-transition: max-height 1s;
  -o-transition: max-height 1s;
  max-height: 1000px;
  margin-top: 0;
  margin: 0 0 0.5em;
  border-bottom: solid 1px #cccccc;
}
.accordion-item-code .accordion-title,
.navigation-accordion .nav-selected .accordion-options-code {
  background: #ffffff;
  color: #333333;
}
.accordion-item-design {
  display: block;
  max-height: 0;
  overflow: hidden;
  border-bottom: 0;
}
.accordion-item-design .title-sub {
  color: #666666;
}
.accordion-items-design .accordion-item-design {
  transition: max-height 1s;
  -webkit-transition: max-height 1s;
  -moz-transition: max-height 1s;
  -o-transition: max-height 1s;
  max-height: 1000px;
  margin-top: 0;
  margin: 0 0 0.5em;
  border-bottom: solid 1px #cccccc;
}
.accordion-item-design .accordion-title,
.navigation-accordion .nav-selected .accordion-options-design {
  background: #ffffff;
  color: #333333;
}
.accordion-item-show .accordion-title .title-main {
  background-position: 98% -3.6em;
}
.accordion-item-show .accordion-content {
  transition: max-height 1s;
  -webkit-transition: max-height 1s;
  -moz-transition: max-height 1s;
  -o-transition: max-height 1s;
  max-height: 1000px;
  margin-top: 0;
  margin: 0 0 0.5em;
}
@media only screen and (min-width: 40em) {
  .accordion-options {
    clear: both;
  }
  .accordion-options .accordion-option {
    display: inline-block;
    padding: 0.5em;
  }
  .accordion-item .title-main {
    font-size: 2em;
  }
  .accordion-item .title-sub {
    font-size: 1em;
  }
  .accordion-item .date {
    font-size: 1em;
  }
  .accordion-item-show .accordion-title .title-main {
    background-position: 98% -2.7em;
  }
}
@media only screen and (min-width: 50em) {
  .accordion {
    padding: 0;
  }
}
@media only screen and (min-width: 75em) {
  .nav-title,
  .date {
    float: left;
    width: 16.66666666%;
  }
  .accordion-item .accordion-title,
  .accordion-item .accordion-content {
    float: left;
    width: 83.3333333%;
  }
}
@media only screen and (min-width: 100em) {
  
}
.navigation-accordion .nav-link {
  padding: 1em;
}
.navigation-accordion .icon-nav {
  width: 9px;
  height: 11px;
  background-position: center -4px;
}
.icon {
  display: inline-block;
  margin-top: -2.5em;
  margin-left: 0.25em;
  background-repeat: no-repeat;
}
.icon-nav {
  background-image: url('../images/icons/arrows.gif');
  background-position: center -8px;
  width: 13px;
  height: 11px;
}
@media only screen and (min-width: 40em) {
  .icon-nav {
    width: 13px;
    height: 11px;
  }
  .navigation-accordion .icon-nav {
    width: 13px;
    height: 11px;
    background-position: center -8px;
  }
}
body {
  background: #eeeeee;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}
.btn,
h1,
h2,
h3,
.nav-link,
.header,
.navigation,
.accordion-title,
.date,
.footer-text {
  font-family: "Oswald", sans-serif;
}
.page-title {
  font-size: 3em;
  margin-top: 0.5em;
}
.header-wrapper {
  background: #ffffff;
}
.nav-wrapper {
  background: #ffffff;
  border-bottom: solid 1px #cccccc;
}
.accordion-item {
  background: #ffffff;
}
.btn {
  display: inline-block;
  text-align: center;
  -webkit-box-shadow: 1px 1px 3px 0px #666666;
  -moz-box-shadow: 1px 1px 3px 0px #666666;
  box-shadow: 1px 1px 3px 0px #666666;
  cursor: pointer;
  text-decoration: none;
  line-height: 2em;
  position: relative;
  top: -1px;
  padding: 0.5em 1em;
}
.btn:active {
  box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.6);
  top: 0;
}
.btn-contact {
  background: #fafafa;
  /* Old browsers */

  background: -moz-linear-gradient(top, #ffffff 0%, #fafafa 100%);
  /* FF3.6+ */

  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ffffff), color-stop(100%, #fafafa));
  /* Chrome,Safari4+ */

  background: -webkit-linear-gradient(top, #ffffff 0%, #fafafa 100%);
  /* Chrome10+,Safari5.1+ */

  background: -o-linear-gradient(top, #ffffff 0%, #fafafa 100%);
  /* Opera 11.10+ */

  background: -ms-linear-gradient(top, #ffffff 0%, #fafafa 100%);
  /* IE10+ */

  background: linear-gradient(to bottom, #ffffff 0%, #fafafa 100%);
  /* W3C */

  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='@color1', endColorstr='@color2', GradientType=0);
  /* IE6-9 */

  color: #333333;
}
.footer {
  font-weight: normal;
  text-transform: uppercase;
  font-size: 0.75em;
  color: #cccccc;
}
.date-end:after {
  bottom: 0;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-bottom-color: #ffffff;
}
.date-end:after {
  border-width: 0.5em;
  left: 50%;
  margin-left: -0.5em;
}
.date-start:before {
  bottom: 100%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-bottom-color: #fafafa;
}
.date-start:before {
  border-width: 0.5em;
  left: 50%;
  margin-left: -0.5em;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
.grad-1 {
  background: #ffffff;
  /* Old browsers */

  background: -moz-linear-gradient(top, #ffffff 0%, #eeeeee 100%);
  /* FF3.6+ */

  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ffffff), color-stop(100%, #eeeeee));
  /* Chrome,Safari4+ */

  background: -webkit-linear-gradient(top, #ffffff 0%, #eeeeee 100%);
  /* Chrome10+,Safari5.1+ */

  background: -o-linear-gradient(top, #ffffff 0%, #eeeeee 100%);
  /* Opera 11.10+ */

  background: -ms-linear-gradient(top, #ffffff 0%, #eeeeee 100%);
  /* IE10+ */

  background: linear-gradient(to bottom, #ffffff 0%, #eeeeee 100%);
  /* W3C */

  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#eeeeee', GradientType=0);
  /* IE6-9 */

}
.box-shadow-disabled {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.navigation {
  margin: 0;
  padding: 0;
  list-style: none;
  clear: both;
}
.navigation .nav-link-wrapper {
  padding: 0;
  margin: 0;
}
.nav-link {
  display: block;
  padding: 0.5em 1em;
  text-decoration: none;
}
.navigation-site {
  display: none;
}
.navigation-site .nav-link {
  color: #333333;
  font-size: 1em;
}
.navigation-site .nav-link:hover {
  background: #eeeeee;
}
.nav-row {
  float: left;
}
.nav-row .nav-link-wrapper {
  float: left;
}
.nav-link {
  color: #333333;
  font-size: 0.75em;
}
.navigation-accordion-wrapper {
  margin: 0.5em 0.5em 0;
}
.navigation-accordion {
  background: #ffffff;
  margin-top: 1em;
  border-bottom: solid 1px #cccccc;
  width: 100%;
}
.navigation-accordion .nav-selected {
  background: #cccccc;
}
@media only screen and (min-width: 40em) {
  .navigation-site {
    display: block;
    float: left;
  }
  .navigation-site .nav-link-wrapper {
    float: left;
  }
  .navigation-site .icon-nav {
    background-position: center -6px;
    width: 11px;
    height: 9px;
  }
  .nav-link {
    font-size: 1em;
  }
}
@media only screen and (min-width: 50em) {
  .navigation-accordion-wrapper {
    margin: 0.5em 0;
  }
  .navigation-accordion .nav-link-wrapper {
    width: 25%;
  }
  .navigation-accordion .nav-title {
    width: 25%;
  }
}
@media only screen and (min-width: 75em) {
  .navigation-accordion .nav-title {
    width: 16.66666666%;
  }
}
.rating-1 {
  width: 10%;
}
.rating-2 {
  width: 20%;
}
.rating-3 {
  width: 30%;
}
.rating-4 {
  width: 40%;
}
.rating-5 {
  width: 50%;
}
.rating-6 {
  width: 60%;
}
.rating-7 {
  width: 70%;
}
.rating-8 {
  width: 80%;
}
.rating-9 {
  width: 90%;
}
.rating-10 {
  width: 100%;
}
.rating {
  background: #eeeeee;
  border: solid 1px #ffffff;
  float: left;
  width: 100%;
}
.rating-bar {
  background: #666666;
  color: #ffffff;
  padding: 0.5em;
  font-size: 1em;
}
